.add-product-container {
    width: 100%;
    padding: 30px;
    font-family: sans-serif;
    overflow-y: scroll;
  }

  .add-product-top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }

  .add-link-item{
    text-decoration: none;
  }

  .back-button{
    border: 1px solid #3B82F6;
    color: #3B82F6;
    padding: 15px 35px;
    border-radius: 7px;
    font-size: 12px;
    height: 36px;
    width: 150px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
  
  .sell-book-inner-container {
    width: 70%;
  }
  
  .add-book-heading {
    align-self: flex-start;
    color: #3B82F6;
    font-family: sans-serif;
    font-size: 18px;
  }
  
  /*----------------------Form Container-----------------------------*/
  
  .sell-book-form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(231, 229, 229);
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 30px;
    width: 80%;
    margin: 30px;
  }
  
  .sell-label {
    font-size: 14px;
    font-weight: 410;
    margin-bottom: 7px;
    color: rgb(102, 97, 97);
  }
  
  .sell-star-txt {
    color: rgb(219, 19, 19);
    font-size: 17px;
    font-weight: bold;
  }
  
  .sell-input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(205, 197, 197);
    margin-bottom: 18px;
  }
  
  .sell-input:focus {
    border: 1px solid rgb(189, 225, 246);
    outline: 3px ridge rgb(124, 199, 243);
  }
  
  .sell-btn-container {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .sell-submit-btn {
    background-color: #3B82F6;
    color: white;
    border-radius: 5px;
    padding: 8px 15px;
    border-width: 0px;
  }
  
  .sell-clear-btn {
    border: 1px solid #3B82F6;
    color: #3B82F6;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 20px;
  }
  
  /*---------------error text---------*/
  
  .sell-error-txt {
    color: red;
    font-family: 'Roboto';
    font-weight: 15px;
    text-align: center;
  }
  
  .success-txt {
    background-color: rgb(217, 250, 217);
    border-radius: 3px;
    padding: 20px;
  }
  
  .failure-txt {
    background-color: rgb(248, 187, 187);
    border-radius: 3px;
    padding: 20px;
  }
  
  .msg-txt {
    color: white;
    font-family: 'Roboto';
    font-weight: 450;
    font-size: 15px;
    text-align: center;
  }
  
  @media (max-width: 776px) {
    .sell-book-inner-container {
      width: 100%;
      padding: 10px;
    }
  
    .sell-book-container {
      width: 100%;
    }
  
    .sell-book-form {
      width: 100%;
      padding: 10px;
    }
  }
  